<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de produto</title>
</head>
<body>
	<form action="/produto/cadastro/salvar_produto" method="post">
		<input type="text" name="NOME_PRODUTO">
		<input type="number" step="1.0" name="PRECO_PRODUTO">
		<input type="submit" value="Cadastrar">
	</form>
</body>
</html>