<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de cliente</title>
</head>
<body>
	<form action="/cliente/cadastro/salvar_cliente" method="post">
		<input type="text" name="NOME_CLIENTE">
		<input type="text" name="CPF_CLIENTE">
		<input type="date" name="DATA_NASC_CLIENTE">
		<input type="text" name="CEP_CLIENTE">
		<input type="email" name="EMAIL_CLIENTE">
		<input type="submit" value="Cadastrar">
	</form>
</body>
</html>