<!DOCTYPE html>
<html>
<head>
	<title>Cadastro de funcionário</title>
</head>
<body>
	<form action="/funcionario/cadastro/salvar_funcionario" method="post">
		<input type="text" name="NOME_FUNCIONARIO">
		<input type="text" name="CPF_FUNCIONARIO">
		<input type="date" name="DATA_NASC_FUNCIONARIO">
		<input type="text" name="CEP_FUNCIONARIO">
		<input type="email" name="EMAIL_FUNCIONARIO">
		<input type="submit" value="Cadastrar">
	</form>
</body>
</html>